.calendarDay {
  border-collapse: collapse;
  text-align: center;
  border: 1px solid #CCCCCC;
  cursor: pointer;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
}

.calendarDay:hover {
  background-color: #F5F5F5
}

.chosenDay {
  background-color: #D32323;
  color: white;
  font-weight: bold;
}

.currentDay {
  font-weight: bold;
}